<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>
    <div class="container">
        <div class="card my-4">
            <div class="card-header">
                <h1>Cadastro de categoria</h1>
            </div>
            <div class="card-body">
                <form method="POST" class="form" action="/categories/save">
                    <div class="my-2">
                        <input type="text" name="title" class="form-control" placeholder="Defina o titúlo da categoria" requiredgh>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('../../partials/footer'); %>
