<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="/admin/categories" class="navbar-brand">
            GuiaPress
        </a>

        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item mx-2"> 
                <a class="nav-link" href="/admin/categories/">Categorias</a>
            </li>
            <li class="nav-item mx-2"> 
                <a class="nav-link" href="/admin/articles/">Artigos</a>
            </li>
        </ul>
    </div>
</nav>